{%extends 'father.html'%}
{%block body%}
<script>
    function validate(){
        responcetype=document.getElementById('responcetype');
        subject=document.getElementById('subject');
        responcetext=document.getElementById('responcetext');
        if(responcetype.value=='' || responcetype.value==null)
        {
            alert("Plese select responcetype");
            responcetype.focus();
        }
        else if(subject.value=='' || subject.value==null)
        {
            alert('enter subject');
            subject.focus();
        }
        else if(responcetext.value=="" || responcetext.value==null)
        {
            alert("enter your responcetext");
            responcetext.focus();
        }
        else{
            document.getElementById("resfrm").submit();
        }
    }
</script>
<h1 style="text-align: center;">You can Register your <div style="color: rgb(163, 30, 30); display: inline;">Complain</div>,<div style="color: green;display: inline;">Feeback</div> here</h1>


<form action="{%url 'feedback'%}" method="post" id="resfrm" onsubmit="event.preventDefault(); validate();">
    {%csrf_token%}
    <table>
        <tr>
            <td>Select responce type</td>
            <td><select name="responcetype" id="responcetype">
                <option selected value="">--select--</option>
                <option value="complain">complain</option>
                <option value="feedback">Feedback</option>
            </select></td>
            
        </tr>
        <tr>
            <td>Enter subject</td>
            <td><input type="text" name="subject" id="subject"></td>
        </tr>
        <tr>
            <td>Enter Responce Text</td>
            <td><textarea name="responcetext" id="responcetext" cols="30" rows="3"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Register</button></td>
        </tr>
    </table>
</form>
{%endblock%}