{%extends 'adminparent.html'%}


{%block main%}
<script>
    function validate(){
       var program=document.getElementById('program');
        var branch=document.getElementById('branch');
        var year=document.getElementById('year');
        var  subject=document.getElementById('subject');
        var filename=document.getElementById('filename');
        /*file=document.getElementById('file')*/
        if(program.value=="" || program.value==null)
        {
            alert("select progrram plese");
            program.focus();

        }
        else if(branch.value=="" || branch.value==null)
        {
            alert("select branch plese");
            branch.focus();
        }
        else if(year.value=="" || year.value==null)
        {
            alert("select year plese");
            year.focus();
        }
        else if(subject.value=="" || subject.value==null)
        {
            alert("enter subject details plese");
            subject.focus();
        }
        else if(filename.value=="" || filename.value==null)
        {
            alert("enter file name plese");
            filename.focus();
        }
        /*else if(file.value==null)
        {
            alert("plese upload file");
            file.focus();

        }*/
        else{
            document.getElementById("upsd").submit();
        }


    }
</script>
<h1 style="text-align: center;">Upload study materais</h1>
<form action="{% url 'uploadstudy'%}" method="post" enctype="multipart/form-data" id="upsd" onsubmit="event.preventDefault(); validate();">
    {%csrf_token%}
    <table>
        <tr>
        <td>Enter Program</td>
        <td><select name="program" id="program">
            <option  selected value="">--Select--</option>
            {%for p in program%}
            <option value="{{p.program}}">{{p.program}}</option>
            {%endfor%}
        </select></td>
        </tr>
        <tr>
            <td>Enter Branch</td>

            <td><select name="branch" id="branch">
                <option  selected value="">--selected--</option>
                {%for b in branch%}
                <option value="{{b.branch}}">{{b.branch}}</option>
                {%endfor%}
            </select></td>
            <tr>
                <td>Year</td>
                <td><select name="year" id="year">
                    <option selected value="">--Select--</option>
                    {% for y in year%}
                    <option value="{{y.year}}">{{y.year}}</option>
                    {%endfor%}
                </select></td>
            </tr>
        </tr>
        <tr>
            <td>Enter Subject</td>
            <td><input type="text" name="subject" id="subject"></td>
        </tr>
        <tr>
            <td>Enter File Name</td>
            <td><input type="text" name="filename" id="filename"></td>
        </tr>
        <tr>
            <td>Select File</td>
            <td><input type="file" name="myfile" ></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">upload</button></td>
        </tr>
    </table>
</form>
{%endblock%}